.grid {
    display:grid;
    width: 100%;
    max-width: 800px;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    margin: 100px auto;
    
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 7px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    border: 2px solid yellowgreen;
    background-size: cover;
    background-position: center;

}

.front {
    
    transform: rotateY(180deg);
    
}

.back {
    background-image: url('./imagens/back.jpg');
    background-size: cover;
    backface-visibility: hidden;
    
}

.card:hover {
    transform: rotateY(180deg);
}